name: Lint

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - name: Install pycodestyle
      run: |
        python -m pip install --upgrade pip
        pip install pycodestyle
    - name: Lint with pycodestyle
      run: |
        pycodestyle --config=pycodestyle.cfg --count --show-source --statistics .
