# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pycodestyle green
        pip install .
    - name: Lint with pycodestyle
      run: |
        # stop the build if there are Python syntax errors or undefined names
        pycodestyle --config=pycodestyle.cfg --count --select=E9,F63,F7,F82 --show-source --statistics .
        # exit-zero treats all errors as warnings.
        pycodestyle --config=pycodestyle.cfg --count --exit-zero --statistics .
    - name: Test with green
      run: |
        green
