name: Typecheck

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - name: Install Eleanor and MyPy
      run: |
        python -m pip install --upgrade pip
        pip install .
        pip install mypy
        mypy --install-types --non-interactive .
    - name: Typecheck with mypy
      run: |
        mypy --no-incremental --exclude docs --exclude eleanor/hanger/eq36/parsers --check-untyped-defs .
